body {
  margin: 0;
  font-family: "Poppins";
  background: #f0f0f5;
}

nav {
  display: flex;
  justify-content: center;
  background: #6c00ff;
}

.nav-btn {
  padding: 12px 20px;
  margin: 5px;
  border: none;
  background: #a97bff;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
}

.nav-btn.active {
  background: #fff;
  color: #6c00ff;
}

.tab {
  padding: 20px;
}

#mechanic-list, #request-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 500px;
  overflow-y: auto;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

button.request-btn {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background: #6c00ff;
  color: white;
  cursor: pointer;
}

button.remove-btn {
  margin-left: 10px;
  background: #ff3b3b;
}

#profile-form input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 90%;
  border-radius: 8px;
  border: 1px solid #ccc;
}

#profile-form button {
  padding: 10px 20px;
  background: #6c00ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#profile-msg {
  color: green;
  font-weight: 600;
  margin-top: 10px;
}
