body {
  margin: 0;
  font-family: "Poppins";
  background: #f0f0f5;
}

nav {
  display: flex;
  justify-content: center;
  background: #53dfff;
}

.nav-btn {
  padding: 12px 20px;
  margin: 5px;
  border: none;
  background: #00aaff;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
}

.nav-btn.active {
  background: #fff;
  color: #00aaff;
}

.tab {
  padding: 20px;
}

#requests-list, #accepted-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 500px;
  overflow-y: auto;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button.approve-btn { background: #6c00ff; color: white; }
button.deny-btn { background: #ff3b3b; color: white; margin-left: 10px; }
button.save-btn { background: #00aaff; color: white; margin-top: 10px; }
input { width: 95%; padding: 10px; margin: 5px 0; border-radius: 8px; border: 1px solid #ccc; }
