/* ====== GEN-Z LOGIN PAGE ====== */

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  

  background: linear-gradient(130deg, #9c67ff, #ff7ddb, #6ee6ff);
  animation: gradientMove 10s ease infinite;
  background-size: 300% 300%;
}

@keyframes gradientMove {
  0% { background-position: left top; }
  50% { background-position: right bottom; }
  100% { background-position: left top; }
}

.form-card {
  width: 330px;
  padding: 40px;
  background: rgba(255,255,255,.2);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
  text-align: center;
  align-items: center;

}

h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 25px;
}

input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 12px;
  border: none;
  background: rgba(255,255,255,0.3);
  color: #fff;
  font-size: 1rem;
  outline: none;
}

input::placeholder {
  color: #242121;
}

button {
  width: 95%;
  padding: 12px;
  margin-top: 10px;
  background: #ffffff;
  border-radius: 12px;
  border: none;
  color: #5b00ff;
  font-weight: 700;
  cursor: pointer;
  transition: .3s;
}

button:hover {
  transform: translateY(-4px);
  background-color: #f2f2f2;
}
